# --- LinkedIn ---
LINKEDIN_EMAIL=''
LINKEDIN_PASSWORD=""
LINKEDIN_LI_AT=""

# --- GeekHunter ---
GEEKHUNTER_EMAIL=""
GEEKHUNTER_PASSWORD=""

# URLs FIXAS DOS SITES
LINKEDIN_LOGIN_URL=""
LINKEDIN_JOBS_URL=""
GEEKHUNTER_BASE_URL=""
INFOJOBS_BASE_URL=""

# --- PostgreSQL ---
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=""

# --- Redis ---
REDIS_HOST=""