LINKEDIN_EMAIL= ""
LINKEDIN_PASSWORD= ""
LINKEDIN_LOGIN_URL= ""
LINKEDIN_JOBS_URL = ""
GEEKHUNTER_BASE_URL = ""
GEEKHUNTER_EMAIL = ""
GEEKHUNTER_PASSWORD = ""
LINKEDIN_LI_AT = ""
INFOJOBS_BASE_URL = ""
